```{r}
config <- list(
    # general
    'pathogen'            = 'l. major',
    'host'                = 'h. sapiens',
    'target'              = 'host',
    'analysis_name'       = 'hsapiens-w-T1D',

    # sample variables of interest
    'sample_id'           = 'sample_id',
    'condition'           = 'condition',
    'batch'               = 'replicate',

    # sample metadata
    'samples'             = tbl_df(read.csv('hsapiens_samples.csv'))

    # input count tables
    "input_count_tables"  = file.path("counts/mmusculus/*.count"),

    # normalization / data transformation
    'de_cpm'                 = TRUE,
    'de_log2'                = TRUE,
    'de_voom'                = TRUE,
    'de_quantile_normalize'  = TRUE,
    'de_batch_adjust'        = 'combat',

    # annotations
    "organism_db"         = "homo.sapiens",
    "orgdb_key"           = "ensembl",
    "organism_genome"     = "hg38",
    "biomart_dataset"     = "hsapiens_gene_ensembl",

    # differential expression
    "contrast_column"  = 'group',
    "de_comparisons"   = list(c('control', 'T1D')),
)
```
